body {
	margin: 0px;
	background-color: #ccccd3;
}

* {
	box-sizing: border-box;
}

.hljs {
	background: none !important;
}

a {
	color: #222;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.action {
	text-decoration: underline;
	color: green;
	font-weight: bold;
}

#topbar {
	text-align: right;
	background-color: #eee;
	padding: 12px;
	margin-bottom: 24px;
	height: 58px;
	line-height: 34px;
}
#topbar > form > * {
	max-width: 35%;
	height: 34px;
}
#topbar > form input {
	padding-left: 6px;
	border: 1px solid #666;
	border-radius: 3px;
}

#view {
	background-color: #eee;
	padding: 12px;
	width: calc(100% - 48px);
	max-width: 1000px;
	margin: 0px auto;
	margin-bottom: 24px;
}

#topbar, #view {
	box-shadow: 0px 1px 4px 0px #666;
}

#popup {
	-webkit-transition: max-height 0.1s;
	-moz-transition: max-height 0.1s;
	transition: max-height 0.1s;

	overflow: hidden;
	width: 90%;
	max-width: 1000px;
	max-height: 0px;
	margin: auto;
	position: fixed;
	top: 50px;
	left: 0px;
	right: 0px;
	background-color: #eee;
	box-shadow: 0px 1px 4px 0px #666;
}
#popup>.topbar {
	height: 24px;
}
#popup>.content {
	overflow-y: auto;
	max-height: calc(100% - 24px);
}
#popup>.topbar>button {
	display: none;
}
#popup.active>.topbar>button {
	display: inline;
}
#popup.active {
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	transition: max-height 1s;

	max-height: 80vh;
}
#popup>.content>.elem {
	border: none;
}

#view .path {
	margin-top: 12px;
	margin-bottom: 12px;
}
#view .path a {
	display: inline-block;
	min-width: 32px;
	line-height: 20px;
	padding: 0px 6px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
}
#view.view-list .entry {
	margin-top: 12px;
}
#view.view-list .entry .name {
	line-height: 12px;
}
#view.view-list .entry .opts {
	margin-top: 9px;
	display: inline-block;
	line-height: 12px;
}
#view.view-list .entry .opts a {
	margin-left: 10px;
}
#view.view-list .entry .opts>* {
	display: inline;
}
#view.view-list .entry.dir .name a {
	color: blue;
}
#view.view-list .entry.file.watched .name a {
	color: #c00;
}
#view.view-list .path .isshared {
	margin-bottom: 6px;
}
@media screen and (min-width: 1000px) {
	#view.view-list .entry .name {
		display: inline-block;
	}
	#view.view-list .entry .opts {
		float: left;
		margin-left: 0px;
		margin-right: 16px;
		margin-top: 2px;
	}
}

#view.view-view .content {
	margin-top: 6px;
}
